.step {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__number {
    position: relative;
    width: 65px;
    height: 65px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid $purple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $purple;
    font-size: 24px;
    font-weight: 500;
  }

  &:after {
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% - 85px);
    top: 75px;
    left: calc(65px / 2);
    transform: translateX(-50%);
    background-color: $purple;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  &__card {
    width: calc(100% - 85px);
  }

  &--list.step {
    .step__number {
      &:after {
        position: absolute;
        content: '';
        width: 30%;
        height: 30%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: $purple;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__number {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }

    &__card {
      width: calc(100% - 60px);
    }

    &:after {
      height: calc(100% - 60px);
      top: 50px;
      left: calc(40px / 2);
    }
  }
}