$white: #FFFFFF;
$black: #000000;
$gray: #929292;

$blue: #2C608A;
$lightblue: #5B87AF;

$purple: #373859;
$lightpurple: #383084;
$card-border-color: #DEDBFF;

$container-xl: 1140px;
$container-l: 960px;
$container-m: 720px;
$container-s: 540px;
$container-xs: 100%;